/* div.minidiv {
  position: absolute !important;
}

[data-xbu="true"] {
  white-space: nowrap !important;
}

[data-xbu="true"] > div {
  overflow: visible !important;
}

#center_col {
  width: auto !important;
}

#search  div {
  width: auto !important;
}

#rso {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  grid-column-gap: 5% !important;
}

#rcnt {
  max-width: none !important;
}

#center_col {
  margin: 0 auto !important;
  padding: 0 5% !important;
} */