div#content > #inner-content > #main {
  width: auto;
  max-width: none;
  float: none;
  padding-right: 0;
}

div#content > #inner-content > #sidebar1 {
  width: auto;
  float: none;
}

div#content > #inner-content > #sidebar1 > aside > .insidesp {
  max-width: none;
}

div#content > #inner-content {
  display: block;
}

div#content-in {
  display: block;
}

div#content-in > main#main {
  width: auto !important;
}

div#content-in > div#sidebar {
  width: auto !important;
  margin: 0 auto !important;
}

div#content > div#content-inner {
  display: block !important;
}

div#content > div#content-inner > div {
  width: auto !important;
}

div.l-wrapper > main.l-main,
div.l-wrapper > div.l-sidebar {
  width: auto !important;
}

div.l-wrapper {
  display: block !important;
}